{% extends 'admin/dashboard.html' %}

{% load static %}

{% block content %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products View</h2>
            <p>All the products are Listed Below</p>
        </div>
        <div>
            <a href="{% url 'addproducts' %}" class="btn btn-primary btn-sm rounded">Create new</a>
        </div>
    </div>
    <header class="card card-body mb-4">
        <div class="row gx-3">
            <div class="col-lg-4 col-md-6 me-auto">
                <input type="text" placeholder="Search..." class="form-control">
            </div>
            <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>All category</option>
                    <option>Electronics</option>
                    <option>Clothings</option>
                    <option>Something else</option>
                </select>
            </div>
            <div class="col-lg-2 col-6 col-md-3">
                <select class="form-select">
                    <option>Latest added</option>
                    <option>Cheap first</option>
                    <option>Most viewed</option>
                </select>
            </div>
        </div>
    </header> <!-- card-header end// -->
    <div class="row">
        {% if all_products %}
        {% for ob in all_products %}
        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card card-product-grid">
                <a href="" class="img-wrap"> <img src="{{ob.image1.url}}" alt="{{ob.name}}"/> </a>
                <div class="info-wrap">                 
                    <div class="dropdown float-end">
                        <a href="{% url 'edit_product' ob.id %}" class="btn btn-sm btn-brand rounded">
                            <i class="material-icons md-edit mr-5"></i>Edit
                        </a>
                    </div>
                    <a href="#" class="title">{{ob.name}}</a>
                    <div class="price mt-1">${{ob.price}}</div> <!-- price-wrap.// -->
                </div>
            </div> <!-- card-product  end// -->
        </div> <!-- col.// -->
        {% endfor %}
        {% endif %}
    </div> <!-- row.// -->
</section> <!-- content-main end// -->

{% endblock content %}