{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>CHANGE PASSWORD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'otp/css/style.css' %}">

          <!--sweetAlert-->
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">CHANGE PASSWORD</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<h3 class="mb-4">ENTER THE CORRECT DETAILS</h3>
						<form  method="post" class="signup-form">
							{% csrf_token %}
		      		<div class="form-group">
		      			<label class="label" for="number">CURRENT PASSWORD</label>	
		      			<input type="text" name="password" class="form-control" placeholder="ENTER CURRENT PASSWORD">
		      		</div>
                      <div class="form-group">
                        <label class="label" for="number">NEW PASSWORD</label>	
                        <input type="text" name="newpassword" class="form-control" placeholder="ENTER CURRENT PASSWORD">
                    </div>
                    <div class="form-group">
                        <label class="label" for="number">CONFIRM PASSWORD</label>	
                        <input type="text" name="confirmpassword" class="form-control" placeholder="ENTER CONFIRM PASSWORD">
                    </div>
	            <div class="form-group d-flex justify-content-end mt-5">
	            	<button type="submit" class="btn btn-primary submit"><span class="fa fa-paper-plane"></span></button>
	            </div>
	          </form>
	          <!-- <p class="text-center">Already have an account? <a href="#signin">Sign In</a></p> -->
	        </div>
				</div>
			</div>
		</div>
	</section>

    <script>
        {% for n in messages %}
        swal(
    'Good job!',
    '{{ n }}',
    'success'
        )
        {% endfor %}
      </script>
<script src="{% static 'otp/js/jquery.min.js' %}"></script>
  <script src="{% static 'otp/js/popper.js' %}"></script>
  <script src="{% static 'otp/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'otp/js/main.js' %}"></script>

	</body>
</html>

